* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  /*background: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%); */
  font-family: "Major Mono Display", monospace;
  height: 1400px;
  width: 1000px;
  background: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
 
}
h1 { 
  text-align: center;
  color: #008200;
  font-size: 2.558rem;
  font-weight: 800;
  margin: 5rem;
  padding: 1.5625rem;
  box-shadow: 20px 20px 50px 15px #00ced1,
  inset 100px 0 100px #f0f,
  inset -180px 0 100px #0ff;
  border-radius: 6rem;
}
.container {
  display: block;
  height: 25rem;
  width: 25rem;
  margin: 0 auto;
  padding: 1.25rem;
  box-shadow: 60px -18px #0c305eb2;
}
.friend {
  text-align: center;
  background: #00ced1;
  text-shadow: #0a2351;
  border: 0.7rem seagreen;
  border-style: solid double;
  border-radius: 3rem;
  box-shadow: inset 5px 5px 10px rgb(245, 158, 158), inset -5px -5px 10px blue;
  opacity: 0.65;
}

.friend > h3 {
  margin: 0.525rem;
  padding: 0.525rem;
  text-transform: uppercase;
  font-size: 1.985rem;
  color: #0a2351;
}
p {
  margin: 0.125rem;
  padding: 0.125rem;
  font-size: 1.175rem;
}